[submodule "dataModel.AAS"]
	path = dataModel.AAS
	url = https://github.com/smart-data-models/dataModel.AAS.git
[submodule "dataModel.ManufacturingMachine"]
	path = dataModel.ManufacturingMachine
	url = https://github.com/smart-data-models/dataModel.ManufacturingMachine.git
[submodule "dataModel.PredictiveMaintenance"]
	path = dataModel.PredictiveMaintenance
	url = https://github.com/smart-data-models/dataModel.PredictiveMaintenance.git
[submodule "dataModel.IndustrialProcess"]
	path = dataModel.IndustrialProcess
	url = https://github.com/smart-data-models/dataModel.IndustrialProcess.git
